<table class="table is-boxed is-fullwidth">
  <thead>
    <tr>
      <%= render 'product_thead' %>
      <%= render 'index_thead_actions' %>
    </tr>
  </thead>
  <tbody>
    <%= yield %>
  </tbody>
</table>
