<div class="breadcrumb has-succeeds-separator">
  <ul>
    <li><%= link_to t('factory.admin.product_taxons.index.title'), { controller: 'admin/product_taxons' } %></li>
    <li>
      <span class="pl-3"><%= @product_taxon.name %></span>
      <span class="pr-3 has-text-grey">（<%= @product_taxon.factory_taxon.name %>）</span>
    </li>
    <li class="is-active"><%= t('.title') %></li>
  </ul>
</div>
