<div class="breadcrumb has-succeeds-separator">
  <ul>
    <li><%= link_to '返回', { controller: 'parts' } %></li>
    <%# link_to @good.name, admin_facilitate_path(@good) %>
    <li class="is-active"><%= t('.title') %></li>
  </ul>
</div>
