<%= form_with url: { action: 'batch_receive' }, data: { controller: 'check-commit' }, class: 'button_to ml-2' do |f| %>
  <%= f.hidden_field :ids, data: { check_commit_target: 'ids' } %>
  <%= button_tag data: { check_commit_target: 'submit', action: 'check-commit#doSubmit' }, disabled: true, class: 'button is-small text-success' do %>
    <i class="fa-solid fa-cash-register"></i>
    <span class="pl-1"><%= t('.batch_receive.title') %></span>
  <% end %>
<% end %>
