<div class="breadcrumb has-succeeds-separator">
  <ul>
    <li><%= link_to t('factory.admin.part_taxons.index.title'), { controller: 'part_taxons' } %></li>
    <li><%= link_to @factory_taxon.name, { controller: 'part_taxons', id: @factory_taxon.id } %></li>
    <li class="is-active"><%= t('.title') %></li>
  </ul>
</div>
