<div>
  <dt><%= Factory::Unifier.human_attribute_name(:name) %></dt>
  <dd><%= @unifier.name %></dd>
</div>
<div>
  <dt><%= Factory::Unifier.human_attribute_name(:code) %></dt>
  <dd><%= @unifier.code %></dd>
</div>
