<tr>
  <td><%= Factory::Unifier.human_attribute_name(:name) %></td>
  <td><%= @unifier.name %></td>
</tr>
<tr>
  <td><%= Factory::Unifier.human_attribute_name(:code) %></td>
  <td><%= @unifier.code %></td>
</tr>
