<div class="breadcrumb has-succeeds-separator">
  <ul>
    <li><%= link_to t('factory.panel.part_taxon_templates.index.title'), { controller: 'part_taxon_templates' } %></li>
    <li class="is-active"><%= t('.title') %></li>
  </ul>
</div>
