<th>
  <p><%= Factory::Product.human_attribute_name(:name) %></p>
</th>
<th><%= Factory::Production.human_attribute_name(:price) %></th>
<th><%= Factory::Production.human_attribute_name(:cost_price) %></th>
<th><%= Factory::Product.human_attribute_name(:description) %></th>
