<td colspan="4">
  <div class="is-several">
    <%= image_tag model.logo.variant(resize_to_limit: [32, 32]), class: 'image is-32x32' if model.logo.attached? %>
    <span><%= model.name %></span>
  </div>
</td>
