<tfoot>
  <tr>
    <th colspan="4"></th>
    <th>
      <div id="cart_nav">
        <%= @cart.amount.to_money.format.html_safe %>
      </div>
    </th>
    <th>
      <%= link_to({ controller: 'trade/in/orders', action: 'new', current_cart_id: @cart.id, **params.permit!.slice('factory_taxon_id') }, class: 'button is-success') do %>
        <i class="fa-solid fa-credit-card"></i>
        <span class="pl-1"><%= t('factory.in.orders.new.title') %></span>
      <% end %>
    </th>
  </tr>
</tfoot>
