<th>
  <p><%= Factory::Product.human_attribute_name(:name) %></p>
</th>
<td><%= Factory::Product.human_attribute_name(:description) %></td>
<th>
  <p><%= Factory::Product.human_attribute_name(:brand_id) %></p>
  <p><%= Factory::Product.human_attribute_name(:serial_id) %></p>
</th>
<th></th>
