<td>
  <%= render partial: 'purchase_cart', locals: { item_con: 'trade/in/items', cart: @cart, item: item } %>
</td>
<td><%= item.provide.name %></td>
<td><%= item.single_price.to_money.format.html_safe %></td>
