<p class="weui-media-box__desc">
  <span><%= model.name %></span>
  <span class="tag"><%= model.state_i18n %></span>
</p>
<p class="weui-media-box__desc"><%= model.qr_code %></p>
<p class="has-text-danger"><%= model.price.to_money.format.html_safe %></p>
