<div class="breadcrumb has-succeeds-separator">
  <ul>
    <li><%= link_to t('factory.admin.scenes.index.title'), { controller: 'scenes' } %></li>
    <li class="is-active">
      <span><%= @scene.title %></span>
      <span class="has-text-grey">（<%= @produce_plan.produce_on %>）</span>
    </li>
    <li class="is-active"><%= t('.title') %></li>
  </ul>
</div>
