<table class="table is-fullwidth as-boxed">
  <thead>
    <tr class="is-primary">
      <%= render 'product_thead' %>
      <th style="min-width: 18em"></th>
    </tr>
  </thead>
  <tbody id="product_tbody">
    <%= yield %>
  </tbody>
</table>
