<td><%= link_to model.name, { controller: 'productions', action: 'index', product_id: model.product_id, id: model.id }, text: true %></td>
<td><%= model.price.to_money.format.html_safe %></td>
<td>
  <%= button_to({ controller: 'production_plans', action: 'create', production_id: model.id }, params: { 'production_plan[scene_id]': @produce_plan.scene_id, 'production_plan[produce_on]': @produce_plan.produce_on }, class: 'ml-1') do %>
    <i class="fa-solid fa-circle-plus text-grey"></i>
    <span><%= t('.production_plans.create.title') %></span>
  <% end %>
</td>
