<td><%= link_to model.name, { controller: 'productions', action: 'index', product_id: model.product_id, id: model.id }, text: true %></td>
<td><%= model.price.to_money.format.html_safe %></td>
<td>
  <%= render partial: 'production_plan', locals: { production_plan: production_plan } %>
</td>
<td></td>
<td></td>
