<div class="weui-half-screen-dialog" data-weui-dialog-target="dialog">
  <div class="weui-half-screen-dialog__hd">
    <div class="weui-half-screen-dialog__hd__side">
      <button class="weui-icon-btn weui-wa-hotarea" data-action="weui-dialog#close">
        <i class="weui-icon-close-thin"></i>
      </button>
    </div>
    <div class="weui-half-screen-dialog__hd__main">
      <div class="weui-half-screen-dialog__title">
        <span><%= extra_distance_date(params[:produce_on].to_date) %></span>
        <span class="has-text-weight-normal color-grey size-7"><%= params[:produce_on] %></span>
      </div>
    </div>
    <div class="weui-half-screen-dialog__hd__side"></div>
  </div>
  <div class="weui-half-screen-dialog__bd">
    <div class="columns as-border flex m-0 p-4">
      <%= render partial: 'produce_plan_options', collection: @scenes, as: :scene %>
    </div>
  </div>
  <div class="weui-half-screen-dialog__ft"></div>
</div>
