<div data-controller="weui-dialog" id="dialog_produce_on" class="weui-dialog__wrap">
  <%= render 'dialog_produce_on' %>
</div>
<div data-controller="weui-dialog" id="dialog_scene" class="weui-dialog__wrap">
  <%= render 'dialog_scene' %>
</div>
