<div data-controller="weui-dialog" id="dialog_produce_on" style="display: none; opacity: 0">
  <%= render 'dialog_produce_on' %>
</div>
<div data-controller="weui-dialog" id="dialog_scene" style="display: none; opacity: 0">
  <%= render 'dialog_scene' %>
</div>
