<%= link_to({ page: @productions.next_page, **params.permit(:product_taxon_id) }, data: { controller: 'common', action: 'common#link', page_target: 'tip' }, class: 'weui-media-box weui-media-box_appmsg is-justify-content-center', id: 'tip') do %>
  <p class="has-text-centered has-text-grey">向上滑动或点击加载更多</p>
<% end %>
