<td>
  <span><%= model.name %></span>
  <%= button_to({ action: 'new', factory_taxon_id: model.id }, aria: { label: t('.new.title') }, class: 'button is-small is-rounded is-light') do %>
    <i class="fa-solid fa-plus text-primary"></i>
  <% end %>
</td>
<td colspan="3"></td>
