<div class="media">
  <div class="media-content">
    <%= yield %>
  </div>
  <div class="media-right">
    <%= link_to({ action: 'new', factory_taxon_id: model.id }, data: { turbo_scroll: true }, class: 'button is-small is-rounded is-light') do %>
      <i class="fa-solid fa-plus color-link"></i>
      <span class="pl-1"><%= t('.new.title') %></span>
    <% end %>
  </div>
</div>
