<tr>
  <td rowspan="<%= size %>">
    <span><%= taxon&.name %></span>
    <%= button_to({ action: 'new', factory_taxon_id: taxon&.id }, data: { turbo_scroll: true }, class: 'button is-small is-rounded is-light') do %>
      <i class="fa-solid fa-plus has-text-link"></i>
      <span class="pl-1"><%= t('.new.title') %></span>
    <% end %>
  </td>
</tr>
