<div class="box radiusless flex justify-content-space-between mb-0">
  <div>
    <i class="fa-solid fa-location-dot has-text-grey"></i>
    <span class="pl-1"><%= Trade::Cart.enum_i18n(:dispatch, params[:dispatch]) %></span>
  </div>
  <div>
    <%= link_to({ controller: '/space/desks', station_id: @desk.room.station_id }) do %>
      <i class="fa-solid fa-chevron-right"></i>
    <% end %>
  </div>
</div>
