<div class="box is-radiusless is-flex justify-content-space-between mb-0">
  <div>
    <i class="fa-solid fa-location-dot has-text-grey"></i>
    <span class="pl-1"><%= @station.content %></span>
  </div>
  <div>
    <%= link_to({ controller: '/space/stations' }) do %>
      <i class="fa-solid fa-chevron-right"></i>
    <% end %>
  </div>
</div>
