<%= link_to({ page: @productions.next_page, **params.permit(:product_taxon_id, :per) }, data: { controller: 'common', action: 'common#link', page_target: 'tip' }, class: 'is-justify-content-center', id: 'tip') do %>
  <p class="has-text-centered has-text-grey">点击加载更多</p>
<% end %>
