<%= link_to({ page: @products.next_page, **params.permit(:taxon_id, :per) }, data: { controller: 'common', action: 'common#link', page_target: 'tip' }, class: 'justify-content-center', id: 'tip') do %>
  <p class="text-centered text-grey">点击加载更多</p>
<% end %>
