<li><%= link_to t('.scenes.index.title'), { controller: 'scenes' } %></li>
<li><%= link_to @scene.title, { controller: 'produce_plans', scene_id: @produce_plan.scene_id } %></li>
<li><span class="px-3"><%= @produce_plan.produce_on %></span></li>
<li class="is-active"><%= t('.title') %></li>
