<div class="weui-panel__hd">分类</div>
<div class="weui-grids">
  <% @product_taxons.each do |product_taxon| %>
    <%= link_to products_path(product_taxon_id: product_taxon.id), class: 'weui-grid' do %>
      <p class="weui-grid__label"><%= product_taxon.name %></p>
    <% end %>
  <% end %>
</div>
