<div class="breadcrumb has-succeeds-separator">
  <ul>
    <li><%= link_to t('factory.admin.factory_taxons.index.title'), { controller: 'factory_taxons' } %></li>
    <li><span class="px-3"><%= @factory_taxon.name %></span></li>
    <li class="is-active"><%= t('.title') %></li>
  </ul>
</div>
