<%= link_to({ controller: 'productions', product_id: model.id }, text: true, class: 'weui-media-box__title color-link') do %>
  <strong><%= model.name %></strong>
  <span class="tag"><%= model.productions_count %></span>
<% end %>
<p class="weui-media-box__desc"><%= model.qr_prefix %></p>
