<p class="weui-media-box__desc"><%= model.code %></p>
<p class="weui-media-box__desc"><%= model.state_i18n %></p>
<p class="weui-media-box__desc"><time data-controller="time"><%= model.came_at&.to_fs(:iso8601) %></time></p>
