<tr>
  <td><%= Factory::Brand.human_attribute_name(:name) %></td>
  <td><%= @brand.name %></td>
</tr>
<tr>
  <td><%= Factory::Brand.human_attribute_name(:logo) %></td>
  <td><%= image_tag @brand.logo, class: 'image' if @brand.logo.attached? %></td>
</tr>
