<tr>
  <td class="has-text-right"><%= Factory::Brand.human_attribute_name(:name) %></td>
  <td><%= @brand.name %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Factory::Brand.human_attribute_name(:logo) %></td>
  <td><%= @brand.logo %></td>
</tr>
