<div>
  <dt><%= Factory::Brand.human_attribute_name(:name) %></dt>
  <dd><%= @brand.name %></dd>
</div>
<div>
  <dt><%= Factory::Brand.human_attribute_name(:logo) %></dt>
  <dt><%= image_tag @brand.logo, class: 'image' if @brand.logo.attached? %></dd>
</div>
