<div class="card">
  <div class="card-image">
    <%= image_tag organ.logo.variant(resize_to_limit: [150, 150]), class: 'image' if organ.logo.attached? %>
  </div>
  <div class="card-content">
    <div>
      <span class="has-grey-text">
        <%= link_to organ.name, { action: 'list', organ_id: organ.id } %>
      </span>
    </div>
    <p><%= organ.address %></p>
    <p>
    <% organ.today_produce_plans.each do |produce_plan| %>
      <%= link_to produce_plan.scene.title, { action: 'list', organ_id: organ.id, produce_plan_id: produce_plan.id }, class: 'button is-link' %>
    <% end %>
    </p>
  </div>
</div>
