<div class="media">
  <figure class="media-left">
    <%= image_tag 'factory_log.png', class: 'image is-64x64' %>
  </figure>
  <div class="media-content">
    <div class="content">
      <strong><%= t('factory.admin.title') %></strong>
    </div>
    <div data-empty-target="content">
      <%= link_to({ controller: 'factory/admin/taxons' }, class: 'tag') do %>
        <span><%= t('factory.admin.taxons.index.title') %></span>
      <% end %>
    </div>
  </div>
</div>
