<div class="buttons are-small mb-0 pt-2">
  <%= render 'button' %>
</div>

<table class="table is-hoverable is-fullwidth">
  <thead>
    <tr>
      <%= render 'product_thead' %>
    </tr>
  </thead>
  <tbody id="tbody">
    <%= yield %>
  </tbody>
</table>
