<div class="columns is-flex">
  <%= link_to({ controller: 'productions' }, class: 'column is-half has-background-info-dark py-6 has-text-centered') do %>
    <i class="fa-solid fa-turkey has-text-light"></i>
    <p class="has-text-light">开始点餐</p>
  <% end %>
</div>
