<div class="breadcrumb has-succeeds-separator">
  <ul>
    <li><%= link_to t('factory.admin.parts.index.title'), { controller: 'parts' } %></li>
    <li class="is-active"><%= @part.name %></li>
    <li><%= t('.title') %></li>
  </ul>
</div>
