<td>
  <div class="is-several">
    <%= image_tag model.logo, class: 'image is-24x24' if model.logo.attached? %>
    <span><%= model.name %></span>
  </div>
  <span class="tag"><%= model.organ.name %></span>
</td>
<td>
  <table class="table is-borderless">
  <% model.parts.each do |part| %>
    <tr>
      <td><span class="tag"><%= link_to part.name, { controller: 'products', action: 'show', product_taxon_id: part.product_taxon_id, id: part.id } %></span></td>
    </tr>
  <% end %>
  </table>
</td>
<td>
<% if @select_ids.include?(model.id) %>
  <i class="fa-solid fa-check text-success"></i>
<% else %>
  <i class="fa-solid fa-times text-gery"></i>
<% end %>
</td>
