<div class="breadcrumb has-succeeds-separator">
  <ul>
    <li><%= link_to t('factory.panel.brands.index.title'), { controller: 'brands' } %></li>
    <li><span class="px-3"><%= @brand.name %></span></li>
    <li class="is-active"><%= t('.title') %></li>
  </ul>
</div>
