<td><%= model.part_taxon.name %></td>
<td>
  <p><%= model.min_select %></p>
  <p><%= model.product_parts_count %></p>
</td>
<td>
  <%= render partial: 'part_form', locals: { product_part_taxon: model } %>
</td>
