<div class="ui top attached borderless menu">
  <div class="header item">Products</div>
  <%= link_to 'Product Taxon', admin_product_taxons_path, class: 'item' %>
  <div class="right menu">
    <div class="item">
      <%= link_to 'New Admin Product', new_admin_product_path, class: 'ui teal button' %>
    </div>
  </div>
</div>
