<%= render partial: 'show' %>

<div class="fixed-grid has-3-cols as-boxed p-3">
  <div class="grid gap-2 as-actions">
    <%= render partial: 'actions', locals: { model: @product } %>
  </div>
</div>
