<%= form_with theme: 'search', model: Factory::ProducePlan.new do |f| %>
  <div class="field-body">
    <%= f.text_field :title %>
    <div class="field is-narrow">
      <%= f.submit %>
      <%= link_to t('.clear'), filter_params(except: [:title]), class: 'button is-light' %>
    </div>
  </div>
<% end %>
