<td><%= model.title %></td>
<td>
  <p data-controller="time"><%= model.start_at.to_s(:rfc822) %></p>
  <p data-controller="time"><%= model.finish_at.to_s(:rfc822) %></p>
</td>
<td><%= model.state %></td>
