<th><%= Factory::ProducePlan.human_attribute_name(:title) %></th>
<th>
  <p><%= Factory::ProducePlan.human_attribute_name(:start_at) %></p>
  <p><%= Factory::ProducePlan.human_attribute_name(:finish_at) %></p>
</th>
<th><%= Factory::ProducePlan.human_attribute_name(:state) %></th>
<th></th>
