.weui-btn {
  border-radius: 0;
}
.weui-tab__panel {
  overflow: visible;
}

.weui-panel__bd {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 13px;
  padding-bottom: 13px;
}

.weui-btn__extra {
  font-weight: lighter;
}
.weui-panel__extra {
  color: grey;
  font-weight: lighter;
}

#sti {
  z-index: 3;
}
