<div class="menu-label">
  <span><%= t('factory.in.title') %></span>
</div>
<div class="menu-list">
  <%= link_to t('factory.in.carts.index.title'), { controller: 'factory/in/carts' }, class: active_helper(controllers: ['carts'], active: 'is-active') %>
  <%= link_to t('factory.in.items.index.title'), { controller: 'factory/in/items' }, class: active_helper(controllers: ['items'], active: 'is-active') %>
</div>
