<td><%= f.check_box 'xx', include_hidden: false, data: { action: 'show#toggle' } %></td>
<td>
  <div data-show-target="check" class="display-none">
    <%= f.hidden_field :part_id, value: part.id, disabled: true %>
    <%= f.number_field :number, disabled: true, style: 'width: 5em' %>
  </div>
  <span data-show-target="hidden">1</span>
</td>