<div class="breadcrumb has-succeeds-separator">
  <ul>
    <li><%= link_to t('factory.admin.product_taxons.index.title'), { controller: 'admin/product_taxons', anchor: "tr_#{@product_taxon.id}" } %></li>
    <li>
      <div class="px-3">
        <span><%= @product_taxon.name %></span>
        <span class="has-text-grey">（<%= @product_taxon.factory_taxon.name %>）</span>
      </div>
    </li>
    <li class="is-active"><%= t('.title') %></li>
  </ul>
</div>
