<td><%= model.name %></td>
<td>
  <% if model.factory_taxon %>
    <%= link_to model.factory_taxon.name, { controller: 'factory_taxons', action: 'show', id: model.factory_taxon_id } %>
    <%= link_to({ action: 'import', id: model.id }, aria: { label: t('factory.admin.part_taxons.import.title') }) do %>
      <i class="fa-light fa-sign-in-alt"></i>
    <% end %>
  <% end %>
</td>
