<div class="breadcrumb has-succeeds-separator">
  <ul>
    <li><%= link_to t('factory.products.index.title'), { controller: 'productions' } %></li>
    <li class="is-active"><%= @production.name %></li>
  </ul>
</div>
