<footer class="modal-card-foot justify-content-space-around">
  <% item = @cart.init_cart_item(params, good_id: @production.id) %>
  <% if item.persisted? %>
    <%= button_to({ controller: 'trade/my/items', id: item.id, action: 'destroy' }, method: :delete, params: { current_cart_id: @cart.id }, class: 'button is-small') do %>
      <i class="fa-solid fa-circle-xmark color-grey"></i>
      <span class="ml-1">移出购物车</span>
    <% end %>
  <% end %>
  <%= render partial: 'new_cart', locals: { model: @production, item_con: 'trade/my/items', item: item, cart: @cart } %>
</footer>
