<div class="has-block-space-around has-border-top is-safe-bottom m-0 py-3" style="z-index: 500">
  <div class="is-flex is-justify-content-center is-align-items-center">
    <%= render partial: 'cart', locals: { model: @production, item_con: 'trade/my/items' } %>
  </div>

  <%= link_to({ controller: 'trade/my/carts', action: 'show', id: @cart.id }, state: 'enter', class: 'button is-danger') do %>
    <i class="fa-solid fa-cart-shopping"></i>
    <span class="pl-1"><%= t('trade.my.carts.show.title') %></span>
  <% end if @cart %>
  <%= render 'share' %>
</div>
