<div class="level flex-direction-row is-safe-bottom" style="background-color: #f7f7f7">
  <div class="level-left p-3">
    <%= link_to({ controller: 'trade/my/carts', action: 'show', id: @cart.id }, class: 'has-column-centered') do %>
      <div class="right-badge">
        <i class="fa-solid fa-fw fa-xl fa-cart-shopping"></i>
        <span class="weui-badge"><%= @cart.items.count %></span>
      </div>
    <% end if @cart %>
  </div>
  <div class="level-right p-3">
  <% if @cart %>
    <%= render partial: 'cart_item_new', locals: { item: @cart.init_cart_item(params, good_id: @production.id), cart: @cart, item_con: 'trade/my/items' } %>
  <% end %>
  </div>
</div>
