<div class="breadcrumb has-succeeds-separator">
  <ul>
    <li><%= link_to t('factory.admin.scenes.index.title'), { controller: 'scenes' } %></li>
    <li class="is-active mr-2"><%= @scene.title %></li>
    <li class="is-active"><%= t('.title') %></li>
  </ul>
</div>
