<th><%= Factory::ProducePlan.human_attribute_name(:produce_on) %></th>
<td><%= Factory::ProducePlan.human_attribute_name(:created_at) %></td>
<th><%= Factory::ProducePlan.human_attribute_name(:state) %></th>
