<li><%= link_to t('.product_taxons.index.title'), { controller: 'product_taxons' } %></li>
<li>
  <div class="px-3">
    <span><%= @product_taxon.name %></span>
    <% if @product_taxon.factory_taxon %>
      <span class="text-grey">（<%= @product_taxon.factory_taxon.name %>）</span>
    <% end %>
  </div>
</li>
