<li><%= link_to t('.taxons.index.title'), { controller: 'taxons', anchor: "tr_#{@product.taxon.id}" } %></li>
<li>
  <div class="px-3">
    <span><%= @product.taxon.name %></span>
    <% if @product.taxon.factory_taxon %>
      <span class="text-grey">（<%= @product.taxon.factory_taxon.name %>）</span>
    <% end %>
  </div>
</li>
<li><%= link_to t('factory.admin.taxon.products.index.title'), { controller: 'taxon/products', taxon_id: @product.taxon_id } %></li>
<li></li>
