

<div class="row">

  <div class="col-md-3">
    <%= render :partial => 'side' %>
  </div>

  <div class="col-md-9">


    <%= render :partial => 'product', :collection => @products, :as => :product %>

    <%= paginate @products %>
  </div>

</div>

