<% @produce_plans.each do |produce_on, produce_plans| %>
<div class="weui-panel">
  <div class="weui-panel__hd">
    <span><%= extra_distance_date(Date.today, produce_on) %></span>
    <span><%= produce_on %></span>
    <span><%= produce_on.to_s(:week) %></span>
  </div>
  <div class="weui-panel__bd">
    <div class="columns as-border is-flex m-0 p-4">
      <%= render partial: 'produce_plan', collection: produce_plans, as: :model %>
    </div>
  </div>
</div>
<% end %>
