<div class="media">
  <div class="media-content">
    <span><%= taxon.name %></span>
  </div>
  <div class="media-right">
    <%= button_to({ action: 'new', factory_taxon_id: taxon.id }, class: 'button is-small is-rounded is-light') do %>
      <i class="fa-solid fa-plus text-link"></i>
      <span class="pl-1"><%= t('.new.title') %></span>
    <% end %>
  </div>
</div>
