<tr>
  <td class="has-text-right"><%= Factory::ProductTaxon.human_attribute_name(:name) %></td>
  <td><%= @product_taxon.name %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Factory::ProductTaxon.human_attribute_name(:position) %></td>
  <td><%= @product_taxon.position %></td>
</tr>
