<%= render 'top_bar' %>

<div class="m-3">
<% @product_taxons.each do |taxon, product_taxons| %>
  <%= render layout: 'index_list' do %>
    <%= render partial: 'taxon_item', locals: { taxon: taxon, size: product_taxons.size + 1 } if taxon %>
    <%= render partial: 'index_item', layout: 'index_item_actions', collection: product_taxons, as: :model %>
  <% end %>
<% end %>
</div>