<li><%= link_to t('factory.admin.productions.index.title'), { controller: 'productions', product_id: @production.product_id } %></li>
<li class="is-active"><%= t('factory.admin.trade_items.index.title') %></li>
