<li><%= link_to t('.scenes.index.title'), { controller: 'scenes', anchor: "tr_#{params[:scene_id]}" } %></li>
<li class="is-active mr-2"><%= @scene.title %></li>
<li class="is-active"><%= t('.title') %></li>
