<div class="fixed-grid has-6-cols">
  <div class="grid">
    <%= link_to({ controller: 'taxons' }, class: 'cell button is-fullwidth') do %>
      <span><%= t('.taxons.index.title') %></span>
    <% end %>
    <%= link_to({ controller: 'productions' }, class: 'cell button is-fullwidth') do %>
      <span><%= t('.productions.index.title') %></span>
    <% end %>
  </div>
</div>