<div id="room_id" class="field is-horizontal">
<%= f.collection_select(
      :room_id,
      @station.rooms,
      :id,
      :name,
      {
        include_blank: true,
        all: { select: nil }
      },
      {
        data: {
          controller: 'common',
          common_url_value: url_for(action: 'desks'),
          action: 'common#postInput'
        }
      }
    )
%>
</div>
