<div class="weui-half-screen-dialog__hd"></div>
<div class="weui-half-screen-dialog__bd">
  <%= render partial: 'product_part_taxon', collection: @product.product_part_taxons, as: :product_part_taxon %>
</div>
<div class="weui-half-screen-dialog__ft">
  <%= render 'tab_bar' %>
</div>
