<%= render 'top_bar' if params[:scene_id].present? || params[:produce_on].present? %>

<div class="has-column-centered flex-grow-1">
  <span>已经超过下单时间了，请切换其他时间段</span>
</div>

<%= render 'taxon' if @produce_plan %>
