<% if params[:produce_on] && params[:scene_id] %>
  <%= render 'produce_on_bar' %>
<% end %>

<div class="has-text-centered">
  <span>已经超过下单时间了，请切换其他时间段</span>
</div>

<%= render 'taxon' if @produce_plan %>
