<div class="column">
  <%# render 'taxon_bar' %>
  <div class="cards is-4">
    <%= render partial: 'production_cart', layout: 'card', collection: @productions, as: :model, locals: { cart: @cart, item_con: 'trade/my/items' } %>
  </div>

  <%= paginate @productions %>
</div>
<div class="column is-one-fifth">
  <%= render partial: 'cart_nav', locals: { cart: @cart, cart_con: 'trade/my/carts', order_con: 'trade/my/orders' } if @cart %>
</div>
