<th>
  <p><%= Factory::Fit.human_attribute_name(:part_brand_id) %></p>
  <p><%= Factory::Fit.human_attribute_name(:part_serial_id) %></p>
</th>
<th><%= Factory::Fit.human_attribute_name(:part_product_id) %></th>
<th><%= Factory::Fit.human_attribute_name(:part_production_id) %></th>
