<tr>
  <td rowspan="<%= model.productions.size + 1 %>">
    <span><%= model.name %></span>
  </td>
</tr>
<%= render partial: 'index_tbody', layout: 'index_tr', collection: model.productions, as: :model %>

