<footer class="modal-card-foot flex-direction-column">
  <%= render partial: 'product_summary', locals: { production: @production, cart: @cart, options: params.permit(:dispatch) } %>
  <div class="flex justify-content-space-between align-items-center is-fullwidth">
    <div class="color-danger"><%= @production.price.to_money.format.html_safe %></div>
    <%= render partial: 'cart_new', locals: { item: @cart.init_cart_item(params, good_id: @production.id), item_con: 'trade/agent/items', cart: @cart } %>
  </div>
</footer>
