<% if params[:factory_taxon_id] %>
  <li><%= link_to t('factory.in.factory_taxons.index.title'), { controller: 'factory_taxons', anchor: "tr_#{params[:factory_taxon_id]}" } %></li>
  <li><span class="px-3"><%= @factory_taxon.name %></span></li>
<% end %>
<li class="is-active"><%= t('.title') %></li>
