<div class="buttons mt-3 mx-4">
  <%= link_to t('.all'), filter_params(except: [:taxon_id]), class: 'button is-light' %>
  <% @taxons.each do |taxon| %>
    <%= link_to taxon.name, { taxon_id: taxon.id, **params.permit(:station_id, :desk_id, :dispatch) }, class: active_helper(taxon_id: taxon.id, item: 'button is-light', active: 'button is-primary') %>
  <% end %>
</div>