<th><%= Factory::ProductionPart.human_attribute_name(:part_id) %></th>
<th><%= Factory::ProductionPart.human_attribute_name(:number) %></th>
<th>
  <p><%= Factory::ProductionPlan.human_attribute_name(:production_items_count) %></p>
</th>
<th><%= Factory::ProductionPlan.human_attribute_name(:station_id) %></th>
