<div class="weui-panel">
  <div class="weui-panel__bd">
    <%= render 'corp_profile_item' %>
  </div>
</div>

<div class="weui-panel">
  <div class="weui-panel__bd">
    <div class="weui-media-box weui-media-box_small-appmsg">
      <div class="weui-cells">
        <%= render 'cart_item' %>
      </div>
    </div>
  </div>
</div>

<% if request.variant.any?(:work_wechat) %>
<div
  data-controller="open-data"
  data-open-data-options-value="<%= (current_js_app&.agent_config(request.original_url) || {}).to_json %>"
  data-open-data-apis-value="<%= ['openUserProfile'].to_json %>"
  data-open-data-debug-value="false">
</div>
<% end %>
