<div class="weui-panel is-borderless">
  <div class="weui-panel__bd">
    <%= render 'profile_item' %>
  </div>
</div>

<div class="weui-panel">
  <div class="weui-panel__bd">
    <%= render partial: 'organ', collection: @organs, as: :organ %>
  </div>
</div>
