<div class="weui-tabbar_fixed">
  <div class="level is-flex mb-0 pt-2 has-background-white">
    <%= render 'tab_bar_cart' %>
  </div>
  <div class="weui-tabbar">
    <%= render 'tab_bar_item' %>
  </div>
</div>
