<%= search_form_with model: Part.new do |f| %>
  <div class="fields">
    <%= f.collection_select :organ_id, Organ.all, :id, :name, { include_blank: true } %>
    <%= f.text_field :name %>
    <%= f.submit %>
  </div>
<% end %>


