<tr>
  <td class="has-text-right"><%= Part.human_attribute_name(:name) %></td>
  <td><%= @part.name %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Part.human_attribute_name(:qr_prefix) %></td>
  <td><%= @part.qr_prefix %></td>
</tr>
