<% if @provider.new_record? %>
  <%= render 'form' %>
<% else %>
  <%= render 'provider' %>

  <h3 class="ui header">提供服务</h3>
  <%= render partial: 'factory/my/good_providers/table', locals: { good_providers: @provider.good_providers } %>
<% end %>

