<% if @provider.new_record? %>
  <%= render 'form' %>
<% else %>
  <%= render 'provider' %>

  <h3 class="ui header">提供服务</h3>
  <%= render partial: 'factory/my/facilitate_providers/table', locals: { facilitate_providers: @provider.facilitate_providers } %>
<% end %>

