<div class="breadcrumb has-succeeds-separator">
  <ul>
    <li><%= link_to t('factory.admin.products.index.title'), { controller: 'products' } %></li>
    <li><%= link_to t('factory.admin.product_plans.index.title'), { controller: 'product_plans' } %></li>
    <li class="is-active"><%= t('.title') %></li>
  </ul>
</div>
