<% if defined?(current_organ) && current_organ %>
  <%= link_to({ controller: 'factory/buy/home' }, class: 'navbar-item') do %>
    <i class="fa-regular fa-basket-shopping"></i>
    <span><%= t('factory.buy.title') %></span>
  <% end %>
<% end %>
