<div class="box is-padding-less">
  <div class="weui-panel__bd">
    <div class="columns is-mobile">
      <%= render partial: 'menu_item_taxon', collection: Factory::Taxon.default_where(default_params).enabled, as: :model %>
    </div>
  </div>
</div>
