<%= link_to({ controller: 'factory/productions', action: 'show', id: model.id }, class: 'column is-half py-5 has-text-centered') do %>
  <p><%= image_tag model.logo, class: 'image is-128x128 is-radius as-centered' if model.logo.attached? %></p>
  <p class="color-grey mt-1"><%= model.name %></p>
  <% unless model.presell %>
    <p class="color-danger mt-1"><%= model.price.to_money.format.html_safe %></p>
  <% end %>
<% end %>
