<div class="weui-panel is-box is-borderless">
  <div class="weui-panel__bd">
    <div class="columns is-mobile">
      <%= render partial: 'menu_item_product_taxon', collection: Factory::ProductTaxon.default_where(default_params).enabled, as: :model %>
    </div>
  </div>
</div>
