<div class="columns is-mobile px-3 pt-3 mb-0">
  <%= link_to({ controller: 'factory/productions' }, class: 'column is-half') do %>
    <%= image_tag 'use.png', class: 'image as-centered' %>
  <% end %>
  <%= link_to({ controller: 'factory/productions', action: 'rent' }, class: 'column is-half') do %>
    <%= image_tag 'rent.png', class: 'image as-centered' %>
  <% end %>
</div>
