<div class="weui-panel is-box is-borderless has-border">
  <div class="weui-panel__hd">
    <span class="tag is-danger">全部商品</span>
  </div>
  <div class="weui-panel__bd">
    <%= render partial: 'production', collection: Factory::Production.default_where(default_params).default.limit(5), as: :model, locals: { item_con: 'trade/my/items' } %>
  </div>
</div>
