<div class="weui-panel is-box is-borderless">
  <div class="weui-panel__bd">
    <div class="columns is-mobile">
      <%= render partial: 'menu_item_production', collection: Factory::Production.default_where(default_params).default.limit(3), as: :model %>
    </div>
  </div>
</div>
