<div class="box is-padding-less">
  <div class="weui-panel__hd">
    <span class="tag is-danger">限时特价</span>
  </div>
  <div class="weui-panel__bd">
    <div class="columns is-mobile">
      <%= render partial: 'menu_item_production', collection: Factory::Production.default_where(default_params).list.limit(3), as: :model %>
    </div>
  </div>
</div>
