<div class="columns is-mobile m-0">
  <%= link_to({ controller: 'factory/productions' }, class: 'column is-half pb-0') do %>
    <%= image_tag 'use.png', class: 'image' %>
  <% end %>
  <%= link_to({ controller: 'factory/productions', action: 'rent' }, class: 'column is-half pb-0') do %>
    <%= image_tag 'rent.png', class: 'image' %>
  <% end %>
</div>
