<div id="product_cart_<%= model.product_id %>" class="level fa-weui-badge">
<% if model.product.productions_count > 1 || model.product.product_parts_count > 0 || model.product_taxon&.product_part_taxons_count.to_i > 0 %>
  <% items = cart&.find_items(model.product.production_ids, dispatch: params[:dispatch].presence || current_organ.dispatch, **params.permit(:produce_on, :scene_id)) %>
  <%= button_to({ controller: defined?(productions_con) ? productions_con : controller_path, action: 'show', id: model.id }, params: { dispatch: params[:dispatch].presence || current_organ.dispatch }, class: 'button is-small is-rounded is-primary') do %>
    <span>选规格</span>
  <% end %>
  <% if items.present? %>
    <span class="weui-badge"><%= items.size %></span>
  <% end %>
<% else %>
  <% if cart %>
    <%= render partial: 'cart', locals: { item: cart.init_cart_item(params, good_id: model.id), cart: cart, item_con: item_con } %>
  <% end %>
<% end %>
</div>
