<table class="table as-search">
  <tr>
    <th><%= link_to Factory::Product.human_attribute_name(:product_taxon_id), { controller: 'product_taxons' }, text: true %></th>
    <td>
      <%= link_to t('.all'), filter_params(except: [:product_taxon_id]), class: active_params(product_taxon_id: '', active: 'button is-info', item: 'button is-light') %>
      <% Factory::ProductTaxon.default_where(default_params).each do |product_taxon| %>
        <%= link_to product_taxon.name, filter_params(product_taxon_id: product_taxon.id, except: [:id]), class: active_params(product_taxon_id: product_taxon.id, active: 'button is-info', item: 'button is-light') %>
      <% end %>
      <%= link_to({ controller: 'product_taxons', action: 'new' }, data: { turbo_frame: 'modal' }, class: 'button is-light') do %>
        <i class="fa-solid fa-plus"></i>
      <% end %>
    </td>
  </tr>
</table>
