<div class="breadcrumb">
  <ul>
    <li><%= link_to t('.index.title'), { action: 'index' } %></li>
    <li><span class="mx-3"><%= @production_plan.produce_on %></span></li>
    <li class="is-active"><%= t('.title') %></li>
  </ul>
</div>