<div class="box is-padding-less mx-3">
  <div class="weui-panel__bd">
    <%= render partial: 'production', locals: { model: @production } if @production %>
  </div>
</div>

<%= render layout: 'index_table' do %>
  <%= render partial: 'index_tbody', layout: 'index_tr', collection: @members, as: :model %>
<% end %>

<%= paginate @members %>

<%# render 'taxon' %>
