<%= link_to({ controller: 'carts', action: 'list', **params.permit(:produce_plan_id) }, class: 'weui-actionsheet__cell') do %>
  <i class="fa-light fa-pencil"></i><span>
  <%= t('.edit') %></span>
<% end %>
