<%# render 'breadcrumb' %>
<div class="cards">
<% @products.each do |product| %>
  <div class="card">
    <div class="card-image">
      <figure class="image is-1by1">
        <%= image_tag product.logo %>
      </figure>
    </div>
    <div class="card-content">
      <h2 class="title has-text-danger"><%= product.min_price %>~<%= product.max_price %></h2>
      <%= link_to product.name, { action: 'show', id: product.id } %>
    </div>
  </div>
<% end %>
</div>
