<div class="weui-panel weui-panel_access">
  <div class="weui-panel__hd">
    <span class="weui-btn weui-btn_mini weui-btn_default" data-controller="weui-dialog" data-weui-dialog-id-value="dialog" data-action="click->weui-dialog#toggle">商品列表</span>
  </div>
  <div class="weui-panel__bd">
    <%= render 'filter_form' %>
    <%= render partial: 'product', collection: @products, as: :model %>
  </div>

  <%= paginate @products %>
</div>

<%= render 'taxon' %>
