<%# render 'breadcrumb' %>
<div class="cards">
<% @products.each do |product| %>
  <div class="card">
    <div class="card-image">
      <figure class="image">
        <%= image_tag product.logo %>
      </figure>
    </div>
    <div class="card-content">
    
    </div>
  </div>
<% end %>
</div>
