<div class="columns">
  <div class="column">
    <%= render 'figure' %>
  </div>
  <div class="column"></div>
</div>

<div class="box is-radiusless" data-controller="sticky" style="z-index: 3">
  <div class="has-text-danger has-text-bold">
    <span><%= @production.price.to_money.symbol %></span>
    <span id="total_price"><%= @production.price.to_money.to_s %></span>
  </div>
</div>

<div class="box">
  <h1><%= @product.name %></h1>
</div>
