<div class="weui-panel">
  <div class="weui-panel__hd"><strong>预定</strong></div>
</div>

<%= render partial: 'produce_plan', collection: @scenes, as: :scene %>

<div class="weui-panel">
  <div class="weui-panel__hd"></div>
  <div class="weui-panel__bd">
    <%= render partial: 'raw_scene', collection: @scenes, as: :scene %>
  </div>
</div>
