<tfoot>
  <tr>
    <th colspan="4"></th>
    <th>
      <%= button_to({ controller: 'orders', action: 'create', organ_id: params[:organ_id] }, class: 'button is-success') do %>
        <i class="fa-regular fa-credit-card"></i>
        <span class="pl-1"><%= t('.pay') %></span>
      <% end %>
    </th>
  </tr>
</tfoot>
